Flask==1.1.2
flask_wtf
wtforms[email]
flask-sqlalchemy
flask-migrate
flask-login
flask-mail
pyjwt
flask-bootstrap
flask-moment
flask-babel
requests
guess-language_spirit
python-dotenv
elasticsearch

#heroku

gunicorn
psycopg2

# pip install -r requirements.txt

